/*Global Variables*/
@font-face {
  font-family: "brunoAce";
  src: url(/styles/fonts/BrunoAce-Regular.ttf);
  font-display: swap;
}

html {
  font-family: var(--mainFont);
  background-color: var(--htmlBackground);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: var(--textColor);
  padding-block: 70px;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--textColor);
}

.subFont {
  font-family: var(--contentFont);
}

h1,
h2,
h3 {
  color: var(--textColor);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

input,
textarea {
  font-family: var(--contentFont);
  background-color: var(--contentBackground);
  color: var(--textColor);
  border: 2px solid black;
  padding: 5px;
}

/* :root {
  --mainFont: "brunoAce", Verdana, Tahoma, sans-serif;
  --contentFont: arial, verdana, tahoma, sans-serif;
  --textColor: white;
  --htmlBackground: rgba(104, 104, 104, 1);
  --containerHeaderBackground: rgb(84, 84, 84);
  --containerBackground: rgba(31, 31, 31, 1);
  --contentBackground: rgb(139, 139, 139);
} */

:root {
  --mainFont: "brunoAce", Verdana, Tahoma, sans-serif;
  --contentFont: arial, verdana, tahoma, sans-serif;
  --textColor: white;
  --htmlBackground: rgba(31, 31, 31, 1);
  --containerHeaderBackground: rgb(56, 56, 56);
  --containerBackground: rgba(104, 104, 104, 1);
  --contentBackground: rgb(59, 59, 59);
  --arrowDefault: rgba(31, 31, 31, 0.5);
  --arrowHover: rgba(31, 31, 31, 1);
  --boxBorders: 2px solid black;
}

/*Navigation Bar*/
.navigation {
  background-color: var(--containerBackground);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 20px;
  position: fixed;
  top: 0;
  border-bottom: var(--boxBorders);
}

.navLogo {
  margin-left: 20px;
  font-size: 1.7rem;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-right: 20px;
  gap: 20px;
  font-size: 1.2rem;
  list-style: none;
}

.navList a {
  box-shadow: inset 0 0 0 0 var(--containerBackground);
  color: var(--textColor);
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.navList a:hover {
  color: var(--htmlBackground);
  box-shadow: inset 200px 0 0 0 var(--textColor);
}

/*Footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  background-color: var(--containerBackground);
  width: 100%;
  padding-block: 20px;
  position: fixed;
  bottom: 0;
  border-top: var(--boxBorders);
}

.footer p {
  margin: 0;
  margin-left: 20px;
}

/*Home Page*/
/*Landing Banner*/
.headerImage {
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url(/images/landingPageBanner.webp);
  background-position: center;
  background-size: cover;
  height: 350px;
  padding-top: 73px;
}

.homeHeader {
  color: var(--textColor);
  margin: 0;
  margin-bottom: 90px;
}

/*Main Section Containers*/
.mainSection {
  margin-inline: 5%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 2 1 auto;
  justify-content: space-between;
  align-items: center;
}

/*Carousel Browsing and Page Text*/
.contentContainer {
  display: flex;
  width: 100%;
  margin-block: 20px;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--containerBackground);
  max-width: 1200px;
  min-height: 300px;
  border: var(--boxBorders);
}

.carouselTitleContainer {
  background-color: var(--contentBackground);
  display: flex;
  align-items: center;
  height: 5vh;
  margin: 0;
}

.carouselHeader {
  margin: 0;
  padding-left: 20px;
}

.carouselContentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
  width: 100%;
}

.carouselContentContainer button {
  display: flex;
  height: 100px;
  width: 50px;
  border: none;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.carouselLeftButton {
  height: 100%;
  width: 100%;
  min-width: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--arrowDefault);
}

.carouselLeftButton:hover {
  background-color: var(--arrowHover);
}

.carouselRightButton {
  background-image: url(/images/featuredArrow.svg);
  transform: rotate(180deg);
  height: 100%;
  width: 100%;
  min-width: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--arrowDefault);
  transition: background-color 0.3s;
}

.carouselRightButton:hover {
  background-color: var(--arrowHover);
}

.carouselCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  overflow-y: auto;
}

.carouselContent {
  display: flex;
  flex-direction: column;
  background-color: var(--contentBackground);
  min-height: 300px;
  min-width: 170px;
  margin-inline: 10px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.carouselContent img {
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.carouselContent h3 {
  font-size: 1rem;
  margin: 5px;
  border-bottom: 2px solid var(--textColor);
  padding-bottom: 5px;
}

.carouselContent p {
  font-size: 1rem;
  word-spacing: 20%;
  margin: 5px;
}

.mainContent h1 {
  font-size: 2rem;
}

.mainContent p {
  font-size: 1.5rem;
}

/*Socails Tab*/
.socials {
  display: flex;
  flex-direction: column;
  background-color: var(--containerBackground);
  margin-left: 20px;
  margin-top: 20px;
  height: 15vh;
  border: var(--boxBorders);
}

.socialsTitleContainer {
  display: flex;
  align-items: center;
  background-color: var(--contentBackground);
  height: 5vh;
  width: 100%;
}

.socialsTitleContainer h2 {
  padding-left: 5px;
}

.iconList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style: none;
}

#facebook,
#twitter,
#instagram,
#github {
  display: flex;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  border-radius: 10px;
  background-position: center;
}

#facebook:hover,
#twitter:hover,
#instagram:hover,
#github:hover {
  background-color: var(--arrowHover);
}

#facebook {
  background-image: url(/images/facebookIcon.svg);
  margin-left: 10px;
}

#twitter {
  background-image: url(/images/twitterIcon.svg);
}

#instagram {
  background-image: url(/images/instagramIcon.svg);
}

#github {
  background-image: url(/images/githubIcon.svg);
  margin-right: 10px;
}

/*Browse Page*/
.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--containerBackground);
  min-height: 200px;
  margin-block: 20px;
  margin-inline: 10%;
  border: var(--boxBorders);
}

.contentBox button {
  width: 100px;
  height: 50px;
  margin-block: 20px;
  border-radius: 0;
  border: 2px solid black;
  font-family: var(--mainFont);
  cursor: pointer;
}

.contentHeaderBox {
  display: flex;
  align-items: center;
  background-color: var(--contentBackground);
  min-height: 70px;
  width: 100%;
}

.contentHeaderBox h1 {
  margin-left: 20px;
}

.browseContentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.contentCard {
  display: flex;
  flex-direction: column;
  background-color: var(--contentBackground);
  width: 250px;
  min-height: 100px;
  margin-inline: 10px;
  margin-block: 20px;
  border: 2px solid black;
}

.contentCard img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-bottom: 2px solid black;
}

.contentCard h2 {
  margin-left: 10px;
}

/*Blog Specific Page*/

/*Contact Page*/
.contactForm {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 10px;
}

.error {
  display: none;
  font-size: 0.9rem;
  font-weight: 800;
  color: var(--textColor);
  background-color: red;
  padding: 5px;
  margin: 0;
}

.successModal {
  background-color: var(--contentBackground);
}
.successModal::backdrop {
  background-color: rgba(31, 31, 31, 0.8);
}

.successModal p {
  color: var(--textColor);
}

.contactForm button {
  background-color: var(--contentBackground);
  color: var(--textColor);
  font-size: 1.2rem;
  transition: background-color 0.5s;
}

.contactForm button:hover {
  background-color: var(--textColor);
  color: var(--contentBackground);
}
