/*Global Variables*/
@font-face {
  font-family: "brunoAce";
  src: url(/styles/fonts/BrunoAce-Regular.ttf);
  font-display: swap;
}

html {
  font-family: var(--mainFont);
  background-color: var(--htmlBackground);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 92vh;
  color: var(--textColor);
  padding-top: 70px;
  background-image: url(/images/htmlBackground3.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--textColor);
}

.subFont {
  font-family: var(--contentFont);
}

h1,
h2,
h3 {
  color: var(--headerColor);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

h3 {
  color: var(--textColor);
}

input,
textarea {
  font-family: var(--contentFont);
  background-color: var(--contentBackground);
  color: var(--textColor);
  border: 2px solid black;
  padding: 5px;
  width: 100%;
}

/*Loaders*/

.indexLoader {
  width: 215px;
  height: 215px;
  margin-inline: 10px;
  background: linear-gradient(0.25turn, transparent, #727272, transparent),
    linear-gradient(
      var(--containerHeaderBackground),
      var(--containerHeaderBackground)
    ),
    linear-gradient(
      var(--containerHeaderBackground),
      var(--containerHeaderBackground)
    ),
    linear-gradient(
      var(--containerHeaderBackground),
      var(--containerHeaderBackground)
    );
  background-color: var(--containerBackground);
  background-repeat: no-repeat;
  background-size: 215px 220px, 215px 130px, 100px 15px, 150px 15px;
  background-position: -215px 0, 0 0, 15px 150px, 15px 180px;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 215px 0, 0 0, 15px 150px, 15px 180px;
  }
}

.browseLoader {
  position: relative;
  width: 200px;
  height: 200px;
  margin-block: 50px;
}

.browseLoader:before,
.browseLoader:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.browseLoader:after {
  box-shadow: 0 4px 0 var(--headerColor) inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* :root {
  --mainFont: "brunoAce", Verdana, Tahoma, sans-serif;
  --contentFont: arial, verdana, tahoma, sans-serif;
  --textColor: white;
  --htmlBackground: rgba(104, 104, 104, 1);
  --containerHeaderBackground: rgb(84, 84, 84);
  --containerBackground: rgba(31, 31, 31, 1);
  --contentBackground: rgb(139, 139, 139);
} */

:root {
  --mainFont: "brunoAce", Verdana, Tahoma, sans-serif;
  --contentFont: arial, verdana, tahoma, sans-serif;
  --textColor: white;
  --headerColor: rgba(0, 138, 229, 1);
  --navColor: rgba(31, 31, 31, 1);
  --htmlBackground: rgba(31, 31, 31, 1);
  --containerHeaderBackground: rgb(56, 56, 56);
  --containerBackground: rgba(31, 31, 31, 0.7);
  --contentBackground: rgb(59, 59, 59);
  --arrowDefault: rgba(0, 138, 229, 0.5);
  --arrowHover: rgba(0, 138, 229, 1);
  --boxBorders: 2px solid black;
}

/*Navigation Bar*/
.navigation {
  background-color: var(--navColor);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 20px;
  position: fixed;
  top: 0;
  border-bottom: var(--boxBorders);
  z-index: 10;
}

.navLogo {
  margin-left: 20px;
  font-size: 1.7rem;
}

.logoColor {
  color: var(--headerColor);
}

.navList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-right: 20px;
  gap: 20px;
  font-size: 1.2rem;
  list-style: none;
}

.navList a {
  box-shadow: inset 0 0 0 0 var(--containerBackground);
  color: var(--textColor);
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.navList a:hover {
  color: var(--htmlBackground);
  box-shadow: inset 200px 0 0 0 var(--textColor);
}

/*Footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  background-color: var(--containerBackground);
  width: 100%;
  height: 100%;
  padding-block: 20px;
  border-top: var(--boxBorders);
}

.footer p {
  margin: 0;
  margin-left: 20px;
}

/*Home Page*/
/*Landing Banner*/
.headerImage {
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url(/images/landingPageBanner.webp);
  background-position: center;
  background-size: cover;
  height: 350px;
  padding-top: 73px;
  border-bottom: var(--boxBorders);
}

.homeHeader {
  font-size: 3rem;
  color: var(--textColor);
  margin: 0;
  margin-block: 90px;
  text-align: center;
}

/*Main Section Containers*/
.mainSection {
  margin-inline: 10%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 2 1 auto;
  justify-content: space-between;
  align-items: center;
}

/*Carousel Browsing and Page Text*/
.contentContainer {
  display: flex;
  width: 100%;
  margin-block: 20px;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--containerBackground);
  min-height: 300px;
  width: 100%;
  min-width: 900px;
  border: var(--boxBorders);
}

.carouselTitleContainer {
  background-color: var(--contentBackground);
  display: flex;
  align-items: center;
  height: 5vh;
  margin: 0;
}

.carouselHeader {
  margin: 0;
  padding-left: 20px;
}

.carouselContentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
  width: 100%;
}

.carouselContentContainer button {
  display: flex;
  height: 100px;
  width: 50px;
  border: none;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.carouselLeftButton {
  background-image: url(/images/featuredArrow.svg);
  height: 100%;
  width: 100%;
  min-width: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--arrowDefault);
  transition: background-color 0.3s;
}

.carouselLeftButton:hover {
  background-color: var(--arrowHover);
}

.carouselRightButton {
  background-image: url(/images/featuredArrow.svg);
  transform: rotate(180deg);
  height: 100%;
  width: 100%;
  min-width: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--arrowDefault);
  transition: background-color 0.3s;
}

.carouselRightButton:hover {
  background-color: var(--arrowHover);
}

.carouselCardContainer {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-width: 760px;
}

.carouselContent {
  display: flex;
  flex-direction: column;
  background-color: var(--contentBackground);
  min-height: 300px;
  min-width: 170px;
  margin-inline: 10px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.carouselContent img {
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.carouselContent h3 {
  font-size: 1rem;
  margin: 5px;
  border-bottom: 2px solid var(--textColor);
  padding-bottom: 5px;
}

.carouselContent p {
  font-size: 1rem;
  word-spacing: 20%;
  margin: 5px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  background-color: var(--containerBackground);
  padding-inline: 10px;
}

.mainContent h3 {
  font-size: 2rem;
  color: var(--headerColor);
}

.headerColorInvert {
  color: var(--textColor);
}

.mainContent p {
  font-size: 1.5rem;
}

/*Socails Tab*/
.socials {
  display: flex;
  flex-direction: column;
  background-color: var(--containerBackground);
  margin-left: 20px;
  height: 15vh;
  border: var(--boxBorders);
}

.socialsTitleContainer {
  display: flex;
  align-items: center;
  background-color: var(--contentBackground);
  height: 5vh;
  width: 100%;
}

.socialsTitleContainer h2 {
  padding-left: 5px;
}

.iconList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  gap: 1vw;
  list-style: none;
}

#facebook,
#twitter,
#instagram,
#github {
  display: flex;
  background-repeat: no-repeat;
  height: 4rem;
  width: 4rem;
  border-radius: 10px;
  background-position: center;
  transition: background-color 0.3s;
}

#facebook:hover,
#twitter:hover,
#instagram:hover,
#github:hover {
  background-color: var(--arrowHover);
}

#facebook {
  background-image: url(/images/facebookIcon.svg);
  margin-left: 10px;
}

#twitter {
  background-image: url(/images/twitterIcon.svg);
}

#instagram {
  background-image: url(/images/instagramIcon.svg);
}

#github {
  background-image: url(/images/githubIcon.svg);
  margin-right: 10px;
}

/*Browse Page*/
.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--containerBackground);
  min-height: 200px;
  margin-block: 20px;
  margin-inline: 10%;
  border: var(--boxBorders);
}

.button {
  width: 130px;
  height: 50px;
  margin-block: 20px;
  border-radius: 0;
  border: 2px solid black;
  font-family: var(--mainFont);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--headerColor);
}

.contentHeaderBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--contentBackground);
  min-height: 70px;
  width: 100%;
}

.contentHeaderBox h1 {
  margin-left: 20px;
}

.searchBar {
  display: flex;
  margin-right: 20px;
}

.searchBar button {
  background-image: url(/images/searchIcon.svg);
  background-color: var(--containerBackground);
  background-size: contain;
  border: 2px solid black;
  border-left: none;
  cursor: pointer;
  min-width: 30px;
}

.searchBar input {
  background-color: var(--containerBackground);
}

.browseContentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.contentCard {
  display: flex;
  flex-direction: column;
  background-color: var(--contentBackground);
  width: 250px;
  min-height: 100px;
  margin-inline: 10px;
  margin-block: 20px;
  border: 2px solid black;
  transition: transform 0.3s;
}

.contentCard:hover {
  transform: scale(1.2);
}

.contentCard img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-bottom: 2px solid black;
}

.contentCard h2 {
  margin-left: 10px;
}

/*Contact Page*/
.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  gap: 10px;
}

.inputFields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  display: none;
  font-size: 0.9rem;
  font-weight: 800;
  color: var(--textColor);
  background-color: red;
  padding: 5px;
  margin: 0;
  width: 100%;
}

.successModal {
  background-color: var(--contentBackground);
}
.successModal::backdrop {
  background-color: rgba(31, 31, 31, 0.8);
}

.successModal p {
  color: var(--textColor);
}

/*Blog Page*/
.articleContainer {
  margin-inline: 10%;
  padding-bottom: 50px;
}
.articleContainer img {
  object-fit: cover;
  object-position: center;
  max-width: 500px;
  max-height: 400px;
  margin-right: 10px;
}

.blogHeader {
  font-size: 2.5rem;
  text-align: center;
}

.clickableImage {
  float: left;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.clickableImage:hover {
  cursor: pointer;
}

.textAlt {
  font-size: 1rem;
  margin: 0;
  color: grey;
}

.articleText {
  font-size: 1.5rem;
  font-family: var(--contentFont);
  letter-spacing: 1px;
  margin: 0;
  margin-top: 10px;
}

.modalContainer {
  background-color: transparent;
  border: none;
}

.modalContainer p {
  margin: 0;
  color: var(--textColor);
}

.modalContainer::backdrop {
  background-color: rgba(31, 31, 31, 0.8);
}

/*About Us*/

.aboutSection {
  margin-inline: 10%;
  margin-top: 20px;
  padding: 10px;
}

.aboutSection img {
  max-width: 500px;
  border-radius: 1000px;
  margin: 10px;
}

.leftAlign {
  float: left;
}

.rightAlign {
  float: right;
}

.clearFix:after {
  content: "";
  display: table;
  clear: both;
}

.aboutText {
  font-size: 1.5rem;
  line-height: 40px;
  margin: 0;
}

.textStart {
  font-size: 3rem;
  color: var(--headerColor);
}

.aboutSection dialog {
  background-color: transparent;
  border: none;
}

.aboutSection dialog::backdrop {
  background-color: rgba(31, 31, 31, 0.8);
}

.altText {
  color: var(--textColor);
  font-size: 1.5rem;
  padding-left: 10px;
  margin: 0;
}

.imageModal1 img,
.imageModal2 img {
  border-radius: 0;
}

/*Media Queries*/
@media only screen and (max-width: 900px) {
  body {
    padding-top: 100px;
  }

  html {
    background-position: center;
  }

  /*Nav and Footer*/
  .navigation {
    align-items: center;
    flex-direction: column;
  }

  .footer {
    display: none;
  }

  .navLogo {
    margin: 0;
    margin-bottom: 5px;
  }

  /*Home Page Mobile */

  .homeHeader {
    font-size: 2rem;
    margin-inline: 10px;
  }

  .mainSection {
    margin-inline: 5%;
  }

  .carouselContentContainer {
    flex-direction: column;
    padding: 0;
  }

  .carouselContentContainer button {
    border-radius: 0;
    height: 100px;
    width: 50px;
  }

  .carouselLeftButton {
    transform: rotate(90deg);
  }

  .carouselRightButton {
    transform: rotate(270deg);
  }

  .contentContainer {
    flex-direction: column;
  }

  .carouselContainer {
    min-width: 300px;
  }

  .carouselContent {
    margin-block: 10px;
    min-height: 140px;
  }

  .carouselContent img {
    display: none;
  }

  .carouselCardContainer {
    flex-direction: column;
    overflow-y: hidden;
    gap: 20px;
    max-height: 365px;
  }

  .socials {
    margin: 0;
    margin-top: 20px;
  }

  /*Blog Page*/

  .clickableImage {
    width: 100%;
  }

  .modalContainer img {
    max-width: 300px;
  }

  /*About Page*/
  .aboutSection {
    display: flex;
    flex-direction: column;
    margin-inline: 5%;
  }

  .aboutSection img {
    float: none;
    border-radius: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  /*Contacts*/
  .contentBox {
    margin-inline: 5%;
  }
}
